body {
  font-size: 10px;
}

a {
  margin-top: 0.15rem;
}

.fa-plus {
  margin-top: 0.7rem;
  cursor: pointer;
}

#cancelProject, #cancelProjectRename {
  margin-top: 0.5rem;
}

#submitProjectNameButton {
  border: 0;
  background: none!important;
  outline: none;
}

#newBookPlusButton:hover {
  background-color: white;
}

.dueDate {
  padding-left: 1rem;
}

.exclamationMark {
  padding-left: 1rem;
}

.smallEdit {
  padding-left: 1.5rem;
}

.smallEdit:hover {
  color: grey;
}

#addTodo {
  margin-top: 1rem;
}

.deleteTodo {
  margin-left: 1rem;
}