body {
  font-size: 10px;
}

a {
  margin-top: 0.15rem;
}

.fa-plus {
  margin-top: 0.7rem;
  cursor: pointer;
}

#cancelProject, #cancelProjectRename {
  margin-top: 0.5rem;
}

#submitProjectNameButton {
  border: 0;
  background: none!important;
  outline: none;
}

#newBookPlusButton:hover {
  background-color: white;
}

small {
  padding-left: 1rem;
}
